{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base-styles.css' %}">

    <script>
        document.documentElement.setAttribute(
            "data-bs-theme",
            localStorage.getItem("theme") || "light"
        );
    </script>

    <title>{% block title %}{% endblock title %} | NoteFlow </title>

    {% block page_style %}{% endblock page_style %}
</head>

<body>
    {% include "partials/header.html" %}

    {% block content %}{% endblock content %}

    <button id="theme-toggle" class="btn btn-primary">
        <i class="bi bi-moon-fill" id="theme-icon"></i>
    </button>

    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>

    <script>
        const btn = document.getElementById("theme-toggle");
        const icon = document.getElementById("theme-icon");

        // Inicializa ícone de acordo com o tema atual
        const currentTheme = document.documentElement.getAttribute("data-bs-theme") || "light";
        icon.className = currentTheme === "light" ? "bi bi-moon-fill" : "bi bi-sun-fill";

        btn.addEventListener("click", () => {
            const current = document.documentElement.getAttribute("data-bs-theme") || "light";
            const next = current === "light" ? "dark" : "light";

            document.documentElement.setAttribute("data-bs-theme", next);
            icon.className = next === "light" ? "bi bi-moon-fill" : "bi bi-sun-fill";
            localStorage.setItem("theme", next);
        });
    </script>
</body>