<header>
    <nav class="navbar navbar-expand-sm bg-body-tertiary">
        <div class="container ">
            <a class="navbar-brand" href="{% url 'pages:home' %}">NoteFlow</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'pages:home' %}">Home</a>
                <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'pages:about' %}">About the project</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link {% if request.resolver_match.url_name == 'sign-up' %}active{% endif %}" href="{% url 'users:sign-up' %}">Sign Up</a>
                <a class="nav-link {% if request.resolver_match.url_name == 'sign-in' %}active{% endif %}" href="{% url 'users:sign-in' %}">Sign In</a>
            </div>
            </div>
        </div>
    </nav>
</header>