<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-icons/bootstrap-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'css/base-styles.css' %}">

<script>
    (function() {
        const theme = localStorage.getItem("theme") || "light";
        document.documentElement.setAttribute("data-bs-theme", theme);
    })();
</script>