/* Defina o tema claro como padrão no :root para evitar repetição */
:root {
    --bs-body-bg: #fdfdfd;
    --bs-body-color: #222;
    --bs-primary: #cc0000;
    --bs-primary-rgb: 0, 102, 204;
    --bs-secondary: #666;
    --bs-secondary-rgb: 102, 102, 102;
    --bs-border-color: #ddd;
    --bs-tertiary-bg: #f8f9fa; /* Fundo para componentes sutis (navbars, etc) */
    --bs-emphasis-color: #000;
}

[data-bs-theme="dark"] {
    --bs-body-bg: #0f1115;
    --bs-body-color: #e6eef8;
    --bs-primary: #58a6ff;
    --bs-primary-rgb: 88, 166, 255;
    --bs-secondary: #9aa6b2;
    --bs-secondary-rgb: 154, 166, 178;
    --bs-border-color: #333;

    /* Variáveis extras para um tema escuro mais consistente */
    --bs-tertiary-bg: #1a1d21; /* Um cinza um pouco mais claro que o fundo */
    --bs-emphasis-color: #fff; /* Texto com mais destaque */
    --bs-secondary-bg: #212529; /* Fundo de alertas, etc */
    --bs-body-color-rgb: 230, 239, 248;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15); /* Bordas translúcidas */
}

#theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    border-radius: 100%;
}

.gradient-bg {
  /* Gradiente linear com ângulo de 135° */
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.card-sign-in {
    border: none;
}
